body {
    width: 50%;
    margin: 0 30px;
}

#osnovno img {
    margin-bottom: 10px;
}

h3 {
    text-transform: uppercase;
}

p {
    margin-bottom: 40px;
}

td {
    padding-bottom: 40px;
}

#opis{
    padding: 0;
}