body {
    background-color:  #fdf1d3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

menu {
    position: fixed;
    width: 100%;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    display: inline;
    padding: 30px;
}

.menu a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    font-size: larger;
}

.menu a:hover {
    color: #ff9900; 
}