body {
    background-color:  #fdf1d3;
    margin: 30px 0;
}

#menu {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#menu ul {
    list-style-type: none;
    padding: 0;
}

#menu li {
    display: inline;
    padding: 0 30px;
}

#menu a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    font-size: larger;
}

#menu a:hover {
    color: #ff9900; 
}

iframe {
    margin-top: 80px;
    width: 100%;
    border:none;
}