body {
    background-color:  #fdf1d3;
    overflow: hidden;
    margin: 30px;
}

#menu {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px;
}

#menu ul {
    list-style-type: none;
    padding: 0;
}

#menu li {
    display: inline;
    padding: 0 30px;
}

#menu a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    font-size: larger;
}

#menu a:hover {
    color: #ff9900; 
}

#okvir {
    margin-bottom: 150px;
}

#okvir iframe {
    margin-top: 80px;
    width: 100%;
    height: 80vh;
    border: none;
}