body {
    background-color:  #fdf1d3;
    font-family: 'Courier New', monospace;
    margin: 0 20px;
}


h1{
    margin-left: 20px;
    color: blue;
}

#stan, #kuca, #pp {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
}

#stan div{
    background-color: white;
}

#kuca div{
    background-color: powderblue;
}

#pp div{
    background-color: green;
}


img {
    width: 300px;
    height: 230px;
    padding: 10px;
    box-sizing: border-box;
}

p {
    padding: 0 10px;
    margin: 0;
}

.cijena {
    text-align: right;
}

button {
    width: 300px;
    margin-top: 10px;
    padding: 5px 0;
    font-size: large;
    font-weight: bold;
    color: blue;
    border-width: 0;
}

#stan button {
    background-color: white;
}

#kuca button {
    background-color: powderblue;
}

#pp button {
    background-color: green;
}

#stan button:hover {
    background-color: blue;
    color:white;
}

#kuca button:hover {
    background-color: blue;
    color:powderblue;
}

#pp button:hover {
    background-color: blue;
    color:green;
}