body {
    background-color:  #fdf1d3;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin: 0;
}

img {
    width: 150px;
    border-radius: 3px;
    margin-bottom: 20px;
}

label {
    padding-bottom: 50px;
}

input {
    padding: 10px;
    margin: 20px;
    width: 150px;
    font-size: medium;
    border: none;
}

