body {
    background-color:  #fdf1d3;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 1px;
    padding-top: 15vh;
}

input {
    padding: 10px;
    width: 150px;
    font-size: small;
    border: none;
    margin: 0;
}

#prijavaDugme {
    width: 260px;
    margin-top: 10px;
    padding: 5px 0;
    font-size: large;
    font-weight: bold;
    color: blue;
    border-width: 0;
    background-color: #f5f0e3;
}

#prijavaDugme:hover {
    background-color: blue;
    color:#f5f0e3;
}

form {
    border-style: solid;
    width: 260px;
    padding: 10px;
    border-color: #cdc8bb;
    margin: 0 auto; 
    background-color: #f5f0e3;
}

#okvir iframe {
    position: fixed;
    top: 0;
    width: 100%;
    height: 15vh;
    border: none;
    box-sizing: border-box;
}